<div class='header'>
    <div class='header-title'>
    <span class='header-title-small'>A BrainStorming colaboratory:</span>
    <span class='header-title-large'>ThinkTank</span>
    </div>
    <img
    class='header-image'
    src='https://cdn.pixabay.com/photo/2020/12/05/16/40/doodle-5806469_1280.jpg'
    alt='inspiring-mountains'
    />
    <img
    class='header-image2'
    src='https://cdn.pixabay.com/photo/2020/12/05/16/40/doodle-5806469_1280.jpg'
    alt='inspiring-mountains'
    />
</div>